*::first-letter{
    text-transform: uppercase;
    margin: auto;
  
}


body{
    background-color: brown;
}


#caja , #caja1 , #caja2 ,#caja3 ,#caja4, #caja5{
    margin-left: 50px;
}

h1,h2{
    text-align: center;
}

